.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 400ms ease-out;
}

.revealed {
  opacity: 1;
}

.marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.vert {
  position: absolute;
  top: -50vh;
  left: 0;
  width: 1px;
  height: 200vh;
  background: rgb(255 255 255 / 0.1);
}

.horiz {
  position: absolute;
  top: 0;
  left: -50vw;
  width: 200vw;
  height: 1px;
  background: rgb(255 255 255 / 0.1);
}
